<nav class="nav-links">
    <div class="nav-item">
        <NavLink href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="transactions">
            <span class="bi bi-list-nested" aria-hidden="true"></span> Transactions
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="accounts">
            <span class="bi bi-wallet2" aria-hidden="true"></span> Accounts
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="categories">
            <span class="bi bi-tags-fill" aria-hidden="true"></span> Categories
        </NavLink>
    </div>

    <div class="mt-auto pt-4 border-top">
        <div class="nav-item">
            <NavLink href="settings">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </div>
</nav>
